p{
    font-size: 35px;
}
.Rohit {
  background-color: aqua;
}
#Virat {
  background-color: brown;
}
.Hardik {
  background-color: blue;
}
#Surya {
  background-color: blueviolet;
}
.Ravindra {
  background-color: burlywood;
}
#pat {
  background-color: chartreuse;
}
#david {
  background-color: coral;
}
#travis {
  background-color: crimson;
}
#glen {
  background-color: darkgreen;
}
#mitchel {
  background-color: darkred;
}
.jos {
  background-color: darkslateblue;
}
.jhony {
  background-color: darkslategray;
}
.liam {
  background-color: deeppink;
}
.harry {
  background-color: gold;
}
.josep {
  background-color: teal;
}
.kane {
  background-color: green;
}
.rachin {
  background-color: rgb(230, 15, 15);
}
.santner {
  background-color: mediumspringgreen;
}
.phillips {
  background-color: khaki;
}
.boult {
  background-color: hotpink;
}
#quinten {
  background-color: rgb(102, 13, 167);
}
#henrich {
  background-color: teal;
}
#aiden {
  background-color: navy;
}
#miller {
  background-color: mediumslateblue;
}
#kagiso {
  background-color: turquoise;
}
